

.navbar-brand{
	font-size: 25px;
}
.text-header{
	margin-top: -35px;
}
@media (min-width: 1200px){
	.col-lg-12{
		width:100%;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.col-lg-12{
		width:100%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.col-md-12{
		width:100%;
	}
}
@media (max-width: 767px){
	.col-sm-12{
		width:100%;
	}
}